body{
background:#f5f7fb;
}

.hero{
background:white;
}

.tool-card{
border:none;
border-radius:20px;
transition:0.3s;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.tool-card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.tool-card h2{
font-size:50px;
}

.tool-card h5{
margin-top:10px;
color:#333;
}